<div ng-include="'views/common/templates/header.view.client.html'"></div>
<h2>Deck Collection</h2>
<div class="col-xs-4 col-xs-offset-4">
  <table class="table">
    <tr ng-repeat="deck in model.decks">
      <td><a href="#!/user/{{model.userId}}/deck/{{deck._id}}/details">{{deck.name}}</a></td>
      <td><a ng-show="model.currentUser._id === model.userId" class="btn btn--icon" href="#!/user/{{model.userId}}/deck/{{deck._id}}/edit">
        <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;Edit
      </a></td>
    </tr>
</table>
</div>
