<div ng-include="'views/common/templates/header.view.client.html'"></div>
<div class="details">
  <div class="col-xs-2 col-xs-offset-5">
    <h2>{{model.deck.name}}</h2>
    <p>
      <a ng-click="model.upvoteDeck()" class="btn btn--icon fa fa-arrow-up"></a>
    </p>
    <div>· {{model.deck.upvotes}} ·</div>
    <div>{{model.deck.format}}</div>
    <div>{{model.deck.playerClass}}</div>
    <div>Created by: <a href="#!/user/{{model.deck._user}}">{{model.deck.creatorName}}</a></div>
    <div>Created on: {{model.deck.createdOn.slice(0, 10)}}</div>
    <div>{{model.deck.description}}</div>
  </div>
</div>
<div class="col-xs-6 col-xs-offset-2">
  <h2>Cards</h2>
  <ul class="catalog available_cards">
    <li class="btn catalog_card" ng-repeat="card in model.deck._cards">
      <div>
        <img src="{{card.img}}">
      </div>
  </ul>
</div>
<div class="col-xs-2">
  <h2>Comments</h2>
  <ul class="list-group">
    <div>
      <li ng-repeat="comment in model.deck._comments" class="list-group-item">
        <a href="#!/user/{{comment.creatorId}}">{{comment.creatorName}}</a>
        <p>{{comment.text}}</p>
        <p>{{comment.createdOn.slice(0, 10)}}</p>
      </li>
    </div>
  </ul>
  <div ng-show="model.currentUser._id">
    <p>Leave a comment</p>
    <form>
      <div class="form-group">
        <textarea ng-model="newComment.text" class="form-control" rows="3" columns="10"></textarea>
        <div ng-show="model.message" class="alert">{{model.message}}</div>
        <a ng-click="model.addCommentToDeck(newComment)" class="btn"><i class="fa fa-comment" aria-hidden="true"></i>&nbsp;&nbsp;Add Comment</a>
      </div>
    </form>
  </div>
</div>
