<div ng-include="'views/common/templates/header.view.client.html'"></div>
<h2>{{model.deck.name}}</h2>
<a ng-click="model.upvoteDeck()" class="glyphicon glyphicon-upload"></a>
<div>{{model.deck.upvotes}}</div>
<div>Created by: <a href="#!/user/{{model.deck._user}}">{{model.deck._user}}</a></div>
<div>Created on: {{model.deck.createdOn}}</div>
<div>{{model.deck.format}}</div>
<div>{{model.deck.playerClass}}</div>
<div>{{model.deck.description}}</div>
<div>
  <ul class="catalog available_cards">
    <li class="btn catalog_card" ng-repeat="card in model.deck._cards">
      <div>
        <img src="{{card.img}}">
      </div>
  </ul>
</div>
<div>
  <h2>Comments</h2>
  <ul>
    <div>
      <li ng-repeat="comment in model.deck._comments">
        <a href="">{{comment._user.username}}</a>
        <p>{{comment.text}}</p>
        <p>{{comment.createdOn}}</p>
      </li>
    </div>
  </ul>
  <div ng-show="model.currentUser._id">
    <p>Leave a comment</p>
    <textarea ng-model="newComment.text" rows="3" columns="10"></textarea>
    <div ng-show="model.message" class="alert">{{model.message}}</div>
    <a ng-click="model.addCommentToDeck(newComment)" class="btn btn-primary">Add Comment</a>
  </div>
</div>
