<div ng-include="'views/common/templates/header.view.client.html'"></div>
<h2>Deck Editor</h2>
<form>
  <div>
    <div>
      <label>Name</label>
      <input ng-model="newInfo.name" type="text" placeholder="{{model.deck.name}}"></input>
    </div>
    <div>
      <label>Format</format>
      <select ng-model="newInfo.format">
        <option value="Standard">Standard</option>
        <option value="Wild">Wild</option>
      </select>
    </div>
    <div>{{model.deck.playerClass}}</div>
    <div>
      <label>Description</label>
      <textarea ng-model="newInfo.description" rows="3" columns="10" placeholder="{{model.deck.description}}"></textarea>
    </div>
    <div class="editor">
      <ul>
        <li class="col-xs-8">
          <label>Card Catalog</label>
          <ul class="catalog available_cards">
            <li class="btn catalog_card" ng-repeat="card in model.cardCatalog">
              <a ng-click="model.addCardToDeck(card)">
                <div>
                  <img src="{{card.img}}">
                </div>
              </a>
            </li>
          </ul>
        </li>
        <li class="col-xs-3">
          <label>Your Deck</label>
          <ul class="catalog user_deck">
            <li class="btn catalog_card" ng-repeat="card in model.deck._cards">
              <a ng-click="model.removeCardFromDeck(card)">
                <div>
                  <span>{{card.cost}}</span>
                  <span>{{card.name}}</span>
                </div>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
      <div ng-show="model.message" class="alert">{{model.message}}</div>
      <a ng-click="model.updateDeck(newInfo)" class="btn btn-success">Save Deck</a>
      <a ng-click="model.deleteDeck()" class="btn btn-danger">Delete Deck</a>
    </div>
</form>
