<form>
  <div class="container">
    <div>
      <label>Name</label>
      <input required ng-model="name" type="text" placeholder="Deck Name"></input>
    </div>
    <div>
      <label>Class</label>
      <select required ng-model="playerClass" name="playerClasses">
        <option value="Druid">Druid</option>
        <option value="Hunter">Hunter</option>
        <option value="Mage">Mage</option>
        <option value="Paladin">Paladin</option>
        <option value="Priest">Priest</option>
        <option value="Rogue">Rogue</option>
        <option value="Shaman">Shaman</option>
        <option value="Warlock">Warlock</option>
        <option value="Warrior">Warrior</option>
      </select>
    </div>
    <div>
      <label>Format</format>
      <select required ng-model="format" ng-model="newInfo.format">
        <option value="Standard">Standard</option>
        <option value="Wild">Wild</option>
      </select>
    </div>
    <div ng-show="model.message" class="alert">{{model.message}}</div>
    <a ng-click="model.createDeck(name, playerClass, format)" class="btn btn-primary btn-block">Create Deck</a>
  </div>
</form>
