<h2>{{model.deck.name}}</h2>
<div>Created by: <a href="#!/user/{{model.deck._user}}">{{model.deck._user}}</a></div>
<div>Created on: {{model.deck.createdOn}}</div>
<div>{{model.deck.format}}</div>
<div>{{model.deck.playerClass}}</div>
<div>{{model.deck.description}}</div>
<div>
  <ul class="catalog available_cards">
    <li class="btn catalog_card" ng-repeat="card in model.deck._cards">
      <div>
        <img src="{{card.img}}">
      </div>
  </ul>
</div>
<a href="#!/user/{{model.userId}}/deck/{{model.deckId}}/edit" class="btn btn-primary">Edit Deck</a>
