div {
  text-align: center;
}

table {
  width: 100%;
}

th, tr, td {
  text-align: center;
  padding: 5px;
  border: 1px black solid;
}

ul {
  padding: 0;
  list-style: none;
}

.editor {
  display: inline-block;
}

.catalog {
  height: 350px;
  overflow-y: scroll;
}

.available_cards .catalog_card {
  list-style: none;
}

.user_deck .catalog_card {
  width: 200px;
  list-style: none;
  background-color: purple;
  font-size: 12px;
}

.catalog_card {
  margin: 2px;
  padding: 2px;
}

.catalog_card:hover {
  opacity: .5;
}

.catalog_card img {
  width: 100px;
}

.catalog_card a {
  color: #fff;
  text-decoration: none;
}
