div {
  text-align: center;
}

ul {
  padding: 0;
  list-style: none;
}

.editor {
  display: inline-block;
}

.catalog {
  /*padding: none;*/
}

.catalog_card {
  /*position: relative;
  display: inline-block;
  margin: -14px -6px;*/
  width: 155px;
  list-style: none;
  background-color: purple;
  margin: 2px;
  padding: 2px;
  font-size: 12px;
}

.catalog_card:hover {
  opacity: .5;
}

.catalog_card img {
  /*width: 100px;*/
}

.catalog_card a {
  color: #fff;
  text-decoration: none;
}
