<div ng-include="'views/common/templates/header.view.client.html'"></div>
<a ng-click="createForm = !createForm" class="btn">+ Create User</a>
<form ng-show="createForm">
  <div>
    <p class="form-group"><label>Username</label>
      <input ng-model="newUser.username" class="form-control"></input>
    </p>
    <p class="form-group"><label>Password</label>
      <input ng-model="newUser.password" class="form-control"></input>
    </p>
    <p class="form-group"><label>First Name</label>
      <input ng-model="newUser.firstName" class="form-control"></input>
    </p>
    <p class="form-group"><label>Last Name</label>
      <input ng-model="newUser.lastName" class="form-control"></input>
    </p>
    <p class="form-group"><label>E-mail</label>
      <input ng-model="newUser.email" class="form-control"></input>
    </p>
    <p class="form-group"><label>Role</label>
      <input ng-model="newUser.role" class="form-control"></input>
    </p>
  </div>
  <a ng-click="model.createUser(newUser)" class="btn">Save User</a>
</form>
<table class="table">
  <tr>
    <th>Username</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>E-mail</th>
    <th>Role</th>
    <th>Controls</th>
  </tr>
  <tr ng-repeat="user in model.allUsers">
    <td>
      <p><a href="#!/user/{{user._id}}">{{user.username}}</a></p>
      <input ng-model="newInfo.username"></input>
    </td>
    <td>
      <p>{{user.firstName}}</p>
      <input ng-model="newInfo.firstName"></input>
    </td>
    <td>
      <p>{{user.lastName}}</p>
      <input ng-model="newInfo.lastName"></input>
    </td>
    <td>
      <p>{{user.email}}</p>
      <input ng-model="newInfo.email"></input>
    </td>
    <td>
      <p>{{user.role}}</p>
      <input ng-model="newInfo.role"></input>
    </td>
    <td>
      <a ng-click="model.updateUser(user._id, newInfo)" class="btn">Update</a>
      <a ng-click="model.deleteUser(user._id)" class="btn">Delete</a>
    </td>
  </tr>
</table>
