<nav>
  <a href="#!/">
    <h1>
      Hearthstone
      <img width="50px" height="50px" src="https://www.spreadshirt.com/image-server/v1/designs/1004981592,width=178,height=178/hearthstone-logo.png">
      Theorycraftr
   </h1>
  </a>
  <a onclick="window.history.back();" class="btn btn-primary">Back</a>
  <a ng-hide="model.currentUser._id" href="#!/login" class="btn btn-success">Login</a>
  <a ng-hide="model.currentUser._id" href="#!/register" class="btn btn-primary">Register</a>
  <a ng-show="model.currentUser._id" href="#!/profile/{{model.currentUser._id}}" class="btn btn-primary">Profile</a>
  <a ng-show="model.currentUser.role === 'Admin'" href="#!/admin" class="btn btn-danger">Admin</a>
</nav>
