<nav class="main_nav">
  <a href="#!/">
    <div class="main_brand">
      <h1>
      Hearthstone
        <img class="main_logo" width="50px" height="50px" src="https://www.spreadshirt.com/image-server/v1/designs/1004981592,width=178,height=178/hearthstone-logo.png">
      Theorycraftr
      </h1>
    </div>
  </a>
  <a onclick="window.history.back();" class="btn"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Back</a>
  <a ng-hide="model.currentUser._id" href="#!/login" class="btn">Login</a>
  <a ng-hide="model.currentUser._id" href="#!/register" class="btn">Register</a>
  <a ng-show="model.currentUser._id" href="#!/profile/{{model.currentUser._id}}" class="btn"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;Profile</a>
  <a ng-show="model.currentUser.role === 'Administrator'" href="#!/admin" class="btn">Admin</a>
</nav>
