<div ng-include="'views/common/templates/header.view.client.html'"></div>
<div class="home">
  <p class="home_slogan">A lightweight, responsive Hearthstone deck builder for the web.</p>
  <div class="home_search col-xs-6 col-xs-offset-3"><input ng-model="keywords" class="form-control" type="search" placeholder="Search Decks"></div>
  <div class="container home_decks">
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Created by</th>
        <th>Created on</th>
        <th>Format</th>
        <th>Class</th>
      </tr>
      <tr ng-repeat="deck in model.allDecks | filter: { name: keywords }">
        <td><a href="#!/user/{{deck._user}}/deck/{{deck._id}}/details">{{deck.name}}</a></td>
        <td><a href="#!/user/{{deck._user}}">{{deck.creatorName}}</a></td>
        <td>{{deck.createdOn.slice(0, 10)}}</td>
        <td>{{deck.format}}</td>
        <td>{{deck.playerClass}}</td>
      </tr>
    </table>
  </div>
</div>
