<div ng-include="'views/common/templates/header.view.client.html'"></div>
<h2>{{model.user.username}}</h2>
<div class="col-xs-2 col-xs-offset-5"><div class="details">
  <p>{{model.user.role}} since: {{model.user.registrationDate.slice(0, 10)}}</p>
  <a href="#!/user/{{model.userId}}/deck/new" class="btn btn--icon"><span class="fa fa-plus-circle"></span> Build Deck</a>
  <a href="#!/user/{{model.userId}}/decks" class="btn btn--icon">Decks</a>
</div></div>
<form>
  <div class="container col-xs-4 col-xs-offset-4">
    <form>
      <p class="form-group">
        <label>Username</label>
        <input ng-model="newInfo.username" class="form-control" type="text" placeholder="{{model.user.username}}"></input>
      </p>
      <p class="form-group">
        <label>First Name</label>
        <input ng-model="newInfo.firstName" class="form-control" type="text" placeholder="{{model.user.firstName}}"></input>
      </p>
      <p class="form-group">
        <label>Last Name</label>
        <input ng-model="newInfo.lastName" class="form-control" type="text" placeholder="{{model.user.lastName}}"></input>
      </p>
      <p class="form-group">
        <label>Email</label>
        <input ng-model="newInfo.email" class="form-control" type="text" placeholder="{{model.user.email}}"></input>
      </p>
    </form>
    <div ng-show="model.message" class="alert">{{model.message}}</div>
    <a ng-click="model.updateUser(newInfo)" class="btn">Update Profile</a>
    <a ng-click="model.logout()" class="btn">Logout</a>
    <a ng-click="model.deleteUser()" class="btn">Delete Profile</a>
  </div>
</form>
