<div ng-include="'views/common/templates/header.view.client.html'"></div>
<h2>{{model.user.username}}</h2>
<div class="col-xs-12"><div class="details">
  <p>{{model.user.role}} since: {{model.user.registrationDate.slice(0, 10)}}</p>
  <a href="#!/user/{{model.userId}}/deck/new" class="btn btn--icon"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;Build Deck</a>
  <a href="#!/user/{{model.userId}}/decks" class="btn btn--icon"><i class="fa fa-list" aria-hidden="true"></i>&nbsp;&nbsp;Decks</a>
</div></div>
<form>
  <div class="container col-xs-6 col-xs-offset-3">
    <form>
      <p class="form-group">
        <label>Username</label>
        <input ng-model="newInfo.username" class="form-control" type="text" placeholder="{{model.user.username}}"></input>
      </p>
      <p class="form-group">
        <label>First Name</label>
        <input ng-model="newInfo.firstName" class="form-control" type="text" placeholder="{{model.user.firstName}}"></input>
      </p>
      <p class="form-group">
        <label>Last Name</label>
        <input ng-model="newInfo.lastName" class="form-control" type="text" placeholder="{{model.user.lastName}}"></input>
      </p>
      <p class="form-group">
        <label>Email</label>
        <input ng-model="newInfo.email" class="form-control" type="text" placeholder="{{model.user.email}}"></input>
      </p>
    </form>
    <div ng-show="model.message" class="alert alert-info">{{model.message}}</div>
    <a ng-click="model.updateUser(newInfo)" class="btn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;Update Profile</a>
    <a ng-click="model.logout()" class="btn"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp;Logout</a>
    <a ng-click="model.deleteUser()" class="btn"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;&nbsp;Delete Profile</a>
  </div>
</form>
